@model ICollection<MyCinema.ViewModels.SalonMovieTimelineViewModel>
@{
	List<int> SalonNumbers = [];
	foreach(var number in Model.Select(x=>x.SalonNumber)){
		if(!SalonNumbers.Contains(number)){
			SalonNumbers.Add(number);
		}
	}
	TimeSpan open = ViewBag.CinemaOpenTime;
	TimeSpan close = ViewBag.CinemaCloseTime;
	var today = DateTime.Today;
	var selectedDate = Context.Request.Query["date"].ToString();
}
<div class="mt-3">
	<h1 class="text-center">Movie Timelines</h1>
	<div class="text-center mb-4">
		<h5>Select a Date:</h5>
		<div class="btn-group" role="group" aria-label="Date Filter">
			@for (int i = 0; i <= 7; i++)
			{
				var date = today.AddDays(i);
				var dateString = date.ToString("yyyy-MM-dd");

				// Determine if this date is selected by comparing with query date
				var buttonClass = dateString == selectedDate ? "btn btn-outline-primary active" : "btn btn-outline-primary";

				<a href="@Url.Action("MovieTimelines", "Salon", new { date = dateString })" class="@buttonClass">
					@date.ToString("dd-MM-yyyy")
				</a>
			}
		</div>
	</div>
	@foreach (var number in SalonNumbers)
	{
		<h2 class="mb-3">Salon @number</h2>
		<div class="timeline-wrapper">
			<div class="timeline">
				<div class="time-slot">
					@foreach(var m in Model.Where(x=>x.SalonNumber==number))
					{
						if(m.Title==null)
						{
							continue;
						}
						<div class="movie-block" style="left: @m.Left%; width: @m.Width%;" title="@m.Title: @m.MovieStartTime.ToString("HH:mm") - @m.MovieEndTime.ToString("HH:mm")">
							<span>@m.Title</span>
							<small>@m.MovieStartTime.ToString("HH:mm") - @m.MovieEndTime.ToString("HH:mm")</small>
							<p>@m.ReservedSeatsCount seats reserved of @m.SalonCapacity</p>
						</div>
					}
				</div>
			</div>
			<div class="hours">
				@while (open != close)
				{
					<div class="hour">@open.Hours:@(open.Minutes)0</div>
					open = open.Add(TimeSpan.FromHours(1));
				}
				@{
					open=ViewBag.CinemaOpenTime;
				}
			</div>
		</div>
	}
</div>